/* Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus, input:active {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0077c5;
}

/* Global */
body {
  font-size: 16px;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #eceef1;
  max-width: 1248px;
  margin: 0 auto;
  text-align: center;
  color: #4c4c4c;
}

.container {
  padding: 10px 25px;
}

button {
  border: none;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #0077c5;
  color: #fff;
}

input {
  border: 1px solid #919191;
}

/* Header */
header {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: normal;
}
header .sign-in {
  display: flex;
  align-items: center;
}

header .sign-in .sign-in-title {
  font-weight: normal;
}

header .sign-in .sign-in-button {
  margin-left: 10px;
}

/* Main form section */
main {
  margin: 30px auto;
  display: inline-block;
}

main .showcase-form-container {
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

main .showcase-form-title {
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 30px;
}

main .showcase-form-subtitle {
  font-size: 18px;
  line-height: 1.2;
}

main .showcase-form {
  margin: 30px 0;
  padding: 30px 20px;
}

main .showcase-form .form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 30px;
  position: relative;
}

main .showcase-form .form-control label,
main .showcase-form .form-control input {
  font-size: 20px;
  padding: 10px 0;
}

main .showcase-form .form-control .sub-label {
  font-size: 12px;
}

main .showcase-form .form-control input {
  padding: 8px 10px;
  border-radius: 5px;
}

main .showcase-form .form-control input:focus,
main .showcase-form .form-control input:active {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(82,168,236,1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(82,168,236,1);
  box-shadow: 0px 0px 8px 0px rgba(82,168,236,1);
  border: 1px solid #52A8EC;
}

main .showcase-form .showcase-form-password-errors {
  display: none;
  color: red;
  margin-top: 15px;
}

main .showcase-form .form-control input[type="password"]:focus + .showcase-form-password-errors,
main .showcase-form .form-control input[type="password"]:active + .showcase-form-password-errors {
  display: inline-block;
}

main .showcase-form button {
  width: 100%;
}

main .showcase-form-terms {
  font-style: italic;
  margin-bottom: 30px;
}

main .showcase-form-footer {
  background-color: #eceef1;
  padding: 30px 30px;
  font-size: 14px;
}

/* Footer */
footer {
  margin-bottom: 30px;
}

footer .footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-links li:not(:last-child) {
  margin-right: 10px;
}

footer .footer-links li a {
  color: #4c4c4c;
}

footer .footer-links li a:hover {
  text-decoration: underline;
}